* {
    margin: 0;
}

body {
    background-color: #ffffff;
}

.formulario {
    width: 20vw;
    height: 40vh;
    /* width: 240px;
    height: 320px; */
    margin: auto;
    margin-top: 4rem;
    background: linear-gradient(15deg, rgb(252, 143, 1) 100%, rgb(125, 75, 1) 100%);
    align-content: center;
    border-radius: 50px;
    box-shadow:  12px 12px 10px 1px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
}


.input-div {
    text-align: center;
    opacity: 100%;
    padding: 1rem;
}

.input-box {
    border-radius: 50px;
    height: 2.5rem;
    border: 0;
    padding-left: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

#login-text {
    padding-top: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #000000;
    font-size: 40px;
}

.recordar {
    color: #000000;
}

.recordar-box {
    text-align: center;
    padding-top: .8rem;
}

.img-login {
    height: 20vh;
}

.img-login-box {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    top: 0;
}

#lginbttn {
    text-align: center;
    background-color: rgb(252, 143, 1);
    width: 15vh;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 2px solid rgb(202, 115, 2);
}

.txt-btn {
    padding: 5%;
    font-size: 1.2rem;
    font-weight:bolder;
    color: #000000;
    border-radius: 50px;
    transition: .5s;
}

#lginbttn :hover {
    color: rgb(97, 59, 1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
