footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.img-login-box {
    text-align: center;
}

.img-login {
    max-width: 100%;
    height: auto;
}

.btn-login {
    background-color: orange;
    border: 0;
    margin-top: 2%;
}

.formulario {
    border-radius: 5px;
    color: #ffa600;
    border: 1px solid rgb(172, 172, 172);
}

#login-text {
    font-size: 3vh;
}

.recordar {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
